/* index styling */
.all-products{
    margin-top: 10rem;
    margin-left: 2rem;
}
.card{
    width: 13rem;
    margin: 1rem;
   padding: 0.3125rem;
}
.card img{
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}
.login-signup a{
    text-decoration: none;
    margin-left: 1rem;
}
 .wrapper{
    float: left;
} 
.card-action{
    width: 6.5rem;
}
.card-action a{
    color: white;
    text-decoration: none;
}
/* details styling */
.image-details{
    display: flex;
    justify-content: space-between;
}
.left-content{
    margin-right: 30rem;
}
/* footer-news styling */
.subscribe{
    display: flex;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;

}
/* introduction styling */
 .intro-text{
    margin-top: 20vh;
} 
.model-text{
    max-height: 31.25rem;
    
}
.model-image img{
    position: absolute;
    bottom: 4rem;
    left: 45rem;
}

/* newindex styling */
.bag-two{
    height: 100px;
    object-fit: cover;
    max-width: 100px;
    
}
.card-shadow{
    margin-right: 1rem;
    max-width: 13rem;
    max-height: 13rem;
    padding: 0.3125rem;
    border: 1px solid gray;
}

.fa-star{
    color: yellowgreen;
    padding: 3% 0;
}
/* header.php styling */
#cart_count{
   text-align: center; 
   padding: 0 0.9rem 0.1rem 0.9rem;
   border-radius: 3rem;
}
/* cartt styling */
.shopping-cart{
 padding: 3% 0;   
}
.cart-items + .cart-items{
    padding: 2% 0;
}
.price-details h6{
    padding: 3% 2%;
}
/* login details folder login.php styling */

        #text{
            height:1.5625rem;
            border-radius:0.3125rem;
            padding:0.25rem;
            border: solid thin #aaa;
            width: 100%;
        }

        #button{
            padding:0.625rem;
            width:6.25rem;
            color:white;
            background-color: lightblue;
            border: none;
        }
        #box{
            background-color: grey;
            margin: auto;
            width: 18.75rem;
            padding: 1.25rem;
        }
        .login-text{
            font-size: 1.25rem;
            margin: 0.625rem;
            color: white;
        }
